* {
    box-sizing: border-box;
}

html {
    background-color: #f8f9fa;
}

body {
    font-family: sans-serif;
    margin: 2em;
}


#details > table {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.1em dotted black;
}

#msg {
    color: red;
}

label {
    display: block;
    font-size: 120%;
    padding-bottom: 0.2em;
}

input[type=text], select {
    width: 20em;
}

form div {
    padding-bottom: 0.4em;
}

#clear {
    color: inherit;
}

.cacheir-inst-td {
  vertical-align: top;
}

.cacheir-instructions {
  padding-left: 0.1em;
  padding-bottom: 0.5em;
}

.cacheir-instructions td {
  text-align: left;
  padding-right: 0.5em;
}
